<h1 class="title">{{ title }}</h1>
<ul *ngIf="mode=='list'">
  <p class="text-center" *ngIf="todos.length == 0">
    <small>Você ainda não tem nenhuma tarefa hoje!</small>
  </p>
  <li *ngFor="let todo of todos">{{ todo.title }}
    <button (click)="remove(todo)">
      <fa-icon style="color: rgba(255, 0, 0, 0.7)" [icon]="faTrashAlt"></fa-icon>
    </button>
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">
      <fa-icon style="color: rgba(128, 128, 128, 0.7)" [icon]="faCheckCircle"></fa-icon>
    </button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">
      <fa-icon style="color: rgba(0, 128, 0, 0.7)" [icon]="faCheckCircle"></fa-icon>

    </button>

  </li>
</ul>

<div id="modal" *ngIf="mode=='add'">
  <form [formGroup]="form">
    <h1 class="text-center">Nova Tarefa</h1>
    <input type="text" placeholder="Descreva a tarefa" maxlength="60" formControlName="title">
    <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">
      Este campo deve conter entre 3 e 60 caracteres.<br>
    </small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="add()">
        <fa-icon [icon]="faSave"></fa-icon>
        Salvar
      </button>
    </p>
    <br><br>
  </form>
</div>

<button class="add-button button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <fa-icon [icon]="faPlusCircle"></fa-icon>
  Nova tarefa
</button>

<button class="add-button button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <fa-icon [icon]="faTimes"></fa-icon>
  Cancelar
</button>